@font-face {
    font-family: 'Handlee',cursive;
    src: url('https://fonts.googleapis.com/css2?family=Handlee&display=swap') format('truetype');
}

html{
    font-size: 16;
}

body{
    min-width: 280px;
    font-family: 'Handlee', cursive, 'Helvetica', 'sans-serif';
    font-weight: bold;
}

.envelope{
    background-image: url("./Images/Paper_Background.jpeg");
}

.birthday_card{
    background-image:url("./Images/white_paper.jpg")
}

.stamp{
    align-self: right;
    width: 32%;
    max-width:200px;
    float: right;
    border-right:3%;
    box-shadow: 1px 1px 1px 1px rgba(110, 75, 75, 0.712);
}

.address{
    padding-top: 175px; 
    padding-left: 15%;
    padding-right:10%;
}
    
p{
    font-style: italic;
    font-weight: bolder;
    align-self: center;
    display: block;
}

.button_to_message, .main_message, .Return_to_envelope{
    padding-left: 15%;
    padding-right:10%;
}

button{
    border-color: black;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px rgba(110, 75, 75, 0.712);
    font-style: italic;
    font-size: large;
    font-weight: bolder;
    border-radius: 10px;
    color:black;
}

button:hover{
    background-color: royalblue;
    color: white;
}

.main_message{
    padding-top: 50px; 
    padding-left: 15%;
    padding-right:10%;
}

@media only screen and (max-width: 624px) {
    p{
      font-size: 1.40rem;
    }
}
    

@media only screen and (min-width: 625px) {
    p{
      font-size: 1.75rem;
    }
    
}

@media only screen and (min-width: 700px) {
    p{
      font-size: 2.25rem;
    }
    .address{
      padding-top:150px;
    }
}
